#navbar-color {
    background-color: #d9c3ed
}

#nav-title {
    color: #FFFFFF;
}

#nav-search, #nav-saved {
    color: #FFFFFF;
    font-size: 2em;
    /* float: right; */
}

#nav-search:hover, 
#nav-saved:hover {
    color: #a09d9d;
    }

